$clr-white: #FFF;
$clr-bg: #0f1a2f;
$clr-fold: #20293a;
$clr-corner: #81d1f1;
$clr-blue: #49abfe;
$clr-border: #cbd2df;
$clr-input: #8495b7;
$input-txt: #3e495e;
$clr-red: #f44368;
$clr-btn: #f89a35;
$btn-hover: #f8bf34;
$light: 300;
$normal: 400;
$bold: 700;
$lh: 2.188em;
$lh-big: 2.813em;
$ls: .02em;
$ls-big: .12em;
$font-main: 'Source Sans Pro', sans-serif;
$small: .813em;
$big: 1.750em;